/*--------------------- IMPORTAÇÕES ---------------------*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(header.css);

@import url(tela-principal/home.css);

@import url(tela-principal/produtos.css);

@import url(tela-principal/promocao.css);

@import url(tela-principal/avaliacao.css);

@import url(tela-principal/novidades.css);

@import url(footer.css);

@import url(login.css);

@import url(recover.css);

@import url(cadastro.css);

@import url(compra.css);

@import url(sobreNos.css);

@import url(contateNos.css);

/*--------------------- CRIAÇÃO DE VARIAVEIS ---------------------*/

:root{

    /*Cores*/
    --cor-primaria-0: #f8d477;
    --cor-primaria-1: #ffe100;
    --cor-primaria-2: #ffcb45;
    --cor-primaria-3: #e9a209;
    --cor-primaria-4: #9a8064;
    --cor-neutra-0: #fff9ea;
    --cor-neutra-1: #   ;
    --cor-neutra-2: #1d1d1d;

    /*Tipografia*/
    --font-principal: 'Poppins', sans-serif;
}

/*--------------------- CONFIGURAÇÕES GERAIS ---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-neutra-0);
}

.section{
    padding: 28px 8%;
}

.card-title{
    color: var(--cor-neutra-0);
    font-size: 20px;
    letter-spacing: 1px;
}

.card-subtitle{
    color: var(--cor-neutra-0);
    font-size: 10px;

}

.btn-default {
    padding: 10px 14px;
    border: none;
    display: flex;
    justify-content: center;
    color: var(--cor-neutra-0);
    background-color: var(--cor-neutra-2);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.btn-default a{
    text-decoration: none;
    color: var(--cor-neutra-0);
}

.btn-default:hover{
    background-color: var(--cor-neutra-1);
}

/*--------------------- Responsividade ---------------------*/

@media screen and (min-width: 1800px){
    .home-left{
        max-height: 700px;
    }
}

@media screen and (max-width: 1170px){

    .nav-list, .rigth-nav{
        display: none;
    }

    .mobile-menu, .nav-item {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul li{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .mobile-menu.inative{
        display: none;
    }

    .mobile-menu-icon.inative{
        display: none;
    }

    .drop-hover-mobile{
        position: relative;
    }

    .nav-list-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .drop-hover-mobile, .drop-links-mobile{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .drop-links-mobile{
        display: none;
        flex-direction: column;
        width: 84vw;
        gap: 1rem;
        background-color: var(--cor-neutra-2);
        border-radius: 0px 10px 0px 10px;
    }

    .drop-text-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .drop-text-mobile span{
        font-weight: 600;
        color: var(--cor-neutra-2);
    }

    .drop-links-mobile a{
        padding: 5px;
        color: var(--cor-neutra-0);
        text-decoration: none;
        font-weight: 600;
    }

    .drop-text-mobile > button{
        font-size: 16px;
        font-weight: 600;
        color: var(--cor-neutra-2);
        background-color: var(--cor-neutra-0);
        border: none;
    }

    .drop-text-mobile.inative{
        display: none;
    }

    .drop-links-mobile.active{
        display: flex;
    }

    .icon-mobile.inative{
        display: none;
    }

    .rigth-nav-mobille{
        display: flex; 
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .compra-acessibilidade{
        display: flex;
        gap: 20px;
    }

    .login-cadastro{
        display: flex;
        gap: 20px;
    }

    #homer{
        min-height: 100%;
        padding-top: 0px;
    }

    .home-rigth{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .home-left, .home-left img{
    display: none;
    }

    .cups{
        flex-wrap: wrap;
        justify-content: center;
    }

    .cup{
        width: calc(50% - 12px);
    }

    #promocao{
        width: 100%;
        min-height: 100vh;
    }

    .cards-prom{
        flex-wrap: wrap;
    }

    #avaliacao{
        min-height: 100vh;
        flex-direction: column;
    }

    #avaliacao .section-subtitle{
        text-align: center;
    }

    .avaliacao-animacao{
        display: none;
    }

    .avaliacao_content{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #novidades{
        flex-direction: column;
    }

}

@media screen and (max-width: 850px){
    .left-login{
        display: none;
    }

    .right-login{
        width: 100vw;
    }

    .novidade-textfielde-group{
        height: 100%;
        flex-direction: column;
    }

    .header-cont{
        text-align: center;
    }

    .form-contact{
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 750px){
    .container-compra{
        margin-bottom: 30%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .left-side{
        width: 100%;
        max-width: 400px;
    }

    .right-side{
        width: 100%;
    }

    .container-compra{
        width: 100%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .description-botton{
        width: 100%;
    }

    .description-compra-itens{
        width: 100%;
    }

    .description-botton-info{
        width: 100%;
    }

    .feedback-compra{
        width: 100%;
    }

}

@media screen and (max-width: 600px){
    .nav-list, #navbar .btn-default{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .btn-default {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .btn-default button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .cup{
        width: 100%;
    }

    .avaliacao_content{
        width: 100%;
    }

    .footer-list{
        justify-content: space-between;
        gap: 5px;
    }

    .footer-copyright{
        flex-direction: column-reverse;
        gap: 20px;
    }
}

@media screen and (max-width: 600px){
    .container-login, .container-recover{
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 35px;
        background-color: var(--cor-neutra-2);
        border-radius: 20px;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    }

    .card-title, .card-title-recover{
        font-size: 15px;
        text-align: center;
    }
    
    .textfielde > label, .textfielde-recover > label{
        font-size: 10px;
    }
    
    .textfielde label::after, .textfielde-recover label::after{
        content: '';
        display: block;
        width: 30px;
        height: 4px;
    }
    
    .textfielde > input, .textfielde-recover > input{
        padding: 6px;
    }

    .textfielde i, .textfielde-recover i{
        top: 34px;
    }

    .btn-login{
        padding: 10px 0;
        margin: 10px 0;
    }

    .manter-conexao{
        margin-right: 35%;
    }
}

@media screen and (max-width: 480px){
    .title{
        font-size: 2rem;
    }


    .main-sobre-nos > section > article > h1{
        font-size: 2rem;
    }

    .main-sobre-nos > section > article > p{
        font-size: 15px;
    }

    .header-cont h1{
        font-size: 2rem;
    }
    .contact-textfield{
        width: 300px;
    }
    
}

